.columns.custom {
  @mixin num-input-wiget {
    border-color: #5ec25e !important;

    &.is-invalid {
      border-color: #db2f2f !important;
    }

    input {
      background-color: yellow;
    }
  }

  .number-input-widget {
    @include num-input-wiget;
  }

  .calc-input-widget {
    @include num-input-wiget;
    span {
      border: 2px outset;
      line-height: 1.25;
    }
  }
}