$inputPadding: 0.25em;

@mixin num-input-wiget {
  border: 1px solid #d3d3d3;

  &:focus {
    outline: none;
  }

  &.has-focus {
    border-color: #90d0e6;
  }

  &.is-invalid {
    border-color: #f8b6c0;

    &.has-focus {
      border-color: #db2f2f;
    }
  }

  input {
    border: none;
    width: 100%;
    height: 100%;
    padding: $inputPadding 2*$inputPadding;

    &:focus {
      outline: none;
    }
  }
}

.number-input-widget {
  @include num-input-wiget;
}

.calc-input-widget {
  $spanWidth: 5em;

  @include num-input-wiget;
  position: relative;

  input {
    padding-right: $spanWidth + 0.5em + 2*$inputPadding;
  }

  span {
    width: $spanWidth;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    background-color: lightgrey;
    text-align: center;
    overflow: hidden;
    font-size: 0.9em;
    line-height: 1.5;
  }
}